@font-face {
  font-family: 'honokamaru';
  src: url('../font/honokamaru.ttf') format('truetype');
}

@font-face {
  font-family: 'marukame';
  src: url('../font/marukame.otf') format('opentype');
}

