$main-color: #0c8a36;
$back-white: #fefefe;
$pale-green: #f5fff3;

.u-inline-block {
  display: inline-block;
}

.pale-green {
  background: $pale-green;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-12 {
  margin-bottom: 12px;
}